//
//** Global Config
// ======================
// mozdalif sikder

//== COLORS
:root {
    --body-bg: rgb(240, 241, 247);
    --primary: rgb(132, 90, 223);
    --secondary: rgb(35, 183, 229);
    --warning: rgb(245, 184, 73);
    --info: rgb(73, 182, 245);
    --success: rgb(38, 191, 148);
    --danger: rgb(230, 83, 60);
    --light: rgb(243, 246, 248);
    --dark: rgb(35, 35, 35);
    --orange: rgb(255, 165, 5);
    --pink: rgb(231, 145, 188);
    --teal: rgb(18, 194, 194);
    --purple: rgb(137, 32, 173);
  }

  
$white:           #fdfdfd;
$black:           #0f0f0f;

//$blue-dark:       #3498DB;
$blue:            rgb(122, 61, 253);
$blue-light:      rgb(53,119,241);
$green:           rgb(38, 191, 148);
$red:             rgb(230, 83, 60);
$orange:          rgb(255, 165, 5);
$silver:          rgb(227, 227, 230);
$ebony:           #34495f;
$purple:          rgb(137, 32, 173);
$teal:            rgb(18, 194, 194);
$grey:            #7f8c8d;
$yellow:          #f1c40f;
$pink:            rgb(231, 145, 188);

//== SEMANTIC COLORS

$brand-primary:             $blue;
$brand-success:             $green;
$brand-info:                $blue-light;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-default:             $silver;

$primary01: rgba($brand-primary, 0.15);
$primary02: rgba($brand-primary, 0.2);
$primary03: rgba($brand-primary, 0.3);
$primary04: rgba($brand-primary, 0.4);
$primary05: rgba($brand-primary, 0.5);
$primary06: rgba($brand-primary, 0.6);
$primary07: rgba($brand-primary, 0.7);
$primary08: rgba($brand-primary, 0.8);
$primary09: rgba($brand-primary, 0.9);
$primary005: rgba($brand-primary, 0.05);

$success01: rgba($brand-success, 0.15);
$success02: rgba($brand-success, 0.2);
$success03: rgba($brand-success, 0.3);
$success04: rgba($brand-success, 0.4);
$success05: rgba($brand-success, 0.5);
$success06: rgba($brand-success, 0.6);
$success07: rgba($brand-success, 0.7);
$success08: rgba($brand-success, 0.8);
$success09: rgba($brand-success, 0.9);
$success005: rgba($brand-success, 0.05);

$info01: rgba($brand-info, 0.15);
$info02: rgba($brand-info, 0.2);
$info03: rgba($brand-info, 0.3);
$info04: rgba($brand-info, 0.4);
$info05: rgba($brand-info, 0.5);
$info06: rgba($brand-info, 0.6);
$info07: rgba($brand-info, 0.7);
$info08: rgba($brand-info, 0.8);
$info09: rgba($brand-info, 0.9);
$info005: rgba($brand-info, 0.05);

$warning01: rgba($brand-warning, 0.15);
$warning02: rgba($brand-warning, 0.2);
$warning03: rgba($brand-warning, 0.3);
$warning04: rgba($brand-warning, 0.4);
$warning05: rgba($brand-warning, 0.5);
$warning06: rgba($brand-warning, 0.6);
$warning07: rgba($brand-warning, 0.7);
$warning08: rgba($brand-warning, 0.8);
$warning09: rgba($brand-warning, 0.9);
$warning005: rgba($brand-warning, 0.05);

$danger01: rgba($brand-danger, 0.15);
$danger02: rgba($brand-danger, 0.2);
$danger03: rgba($brand-danger, 0.3);
$danger04: rgba($brand-danger, 0.4);
$danger05: rgba($brand-danger, 0.5);
$danger06: rgba($brand-danger, 0.6);
$danger07: rgba($brand-danger, 0.7);
$danger08: rgba($brand-danger, 0.8);
$danger09: rgba($brand-danger, 0.9);
$danger005: rgba($brand-danger, 0.05);

$default01: rgba($brand-default, 0.15);
$default02: rgba($brand-default, 0.2);
$default03: rgba($brand-default, 0.3);
$default04: rgba($brand-default, 0.4);
$default05: rgba($brand-default, 0.5);
$default06: rgba($brand-default, 0.6);
$default07: rgba($brand-default, 0.7);
$default08: rgba($brand-default, 0.8);
$default09: rgba($brand-default, 0.9);
$default005: rgba($brand-default, 0.05);


$default-border-radius: 6px;
$button-border-radius: 0.25rem;
$sidebar-li-border-radius: 0.5rem;

$sidebar-bg: #151529 ;
// COLORS PALLETES
//
// The colors for which the palette will be created

$scotch-colors: (
    'blue': $blue,
    'blue-light': $blue-light,
    'green': $green,
    //'blue-dark': $blue-dark,
    'orange': $orange,
    'red': $red,
    'silver': $silver,
    'ebony': $ebony,
    'purple': $purple,
    'grey':  $grey,
    'teal':  $teal,
    'yellow': $yellow,
    'pink': $pink,
);

//== Body

$body-bg:     rgb(240, 241, 247);
$content-wraper-bg:  rgb(241, 242, 248);

$body-color:  #333335;


//== Links

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);


//== BUTTONS

$btn-primary-color:              $white !default;
$btn-primary-bg:                 $brand-primary !default;
// $btn-primary-border:             mix(black, $btn-primary-bg, 15%) !default;
$btn-primary-border:             transparent !default;

$btn-info-color:                 $white !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                transparent !default;

$btn-success-color:              $white !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             transparent !default;

$btn-warning-color:              $white !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             transparent !default;

$btn-danger-color:               $white !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              transparent !default;

$btn-default-color:              #485b6f; //#5d6064 !default;
$btn-default-bg:                 mix(white, $silver, 58%) !default; //#E6E6E6
$btn-default-border:             transparent !default;

//== Alerts

$alert-success-bg:            mix(white, $brand-success, 50%) !default;
$alert-success-text:          mix(black, $brand-success, 28%) !default;
$alert-success-border:        mix(white, $brand-success, 20%) !default;

$alert-info-bg:               mix(white, $brand-info, 50%) !default;
$alert-info-text:             mix(black, $brand-info, 25%) !default;
$alert-info-border:           mix(white, $brand-info, 20%) !default;

$alert-warning-bg:            mix(white, $brand-warning, 50%) !default;
$alert-warning-text:          mix(black, $brand-warning, 28%) !default;
$alert-warning-border:        mix(white, $brand-warning, 20%) !default;

$alert-danger-bg:             mix(white, $brand-danger, 50%) !default;
$alert-danger-text:           mix(black, $brand-danger, 28%) !default;
$alert-danger-border:         mix(white, $brand-danger, 20%) !default;

//== Labels

$label-default-bg:            mix(white, $silver, 58%) !default;
$label-default-color:         $body-color !default;

$label-primary-bg:            $brand-primary   !default;
$label-success-bg:            $brand-success   !default;
$label-info-bg:               $brand-info      !default;
$label-warning-bg:            $brand-warning   !default;
$label-danger-bg:             $brand-danger    !default;

//== Badges

$badge-default-bg:            mix(white, $silver, 58%) !default;
$badge-default-color:         $body-color !default;

$badge-primary-bg:            $brand-primary   !default;
$badge-success-bg:            $brand-success   !default;
$badge-info-bg:               $brand-info      !default;
$badge-warning-bg:            $brand-warning   !default;
$badge-danger-bg:             $brand-danger    !default;


//== Table

$table-border-color: #e8e8e8;

$success-row-bg:    mix(white, $brand-success, 85%) !default;
$info-row-bg:       mix(white, $brand-info, 85%) !default;
$warning-row-bg:    mix(white, $brand-warning, 85%) !default;
$danger-row-bg:     mix(white, $brand-danger, 85%) !default;

//== Pagination

$pagination-active-item-color: $brand-primary;

//== Panels

$ibox-tools-color: #aaa;
$ibox-tools-hover-color: #6d7c85;

//
//** Layout Config
// ======================

//$navLinkColor: #6d7c85;
